<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.InspectionItemTitleValueMapper">

    <resultMap type="InspectionItemTitleValue" id="InspectionItemTitleValueResult">
        <result property="valueId"    column="value_id"    />
        <result property="titleId"    column="title_id"    />
        <result property="itemValue"    column="item_value"    />
        <result property="regionId"    column="region_id"    />
        <result property="seq"    column="seq"    />
        <result property="createTime"    column="create_time"    />
        <result property="statusCd"    column="status_cd"    />
    </resultMap>

    <sql id="selectInspectionItemTitleValueVo">
        select value_id, title_id, item_value, region_id, seq, create_time, status_cd from inspection_item_title_value
    </sql>

    <select id="selectInspectionItemTitleValueList" parameterType="InspectionItemTitleValue" resultMap="InspectionItemTitleValueResult">
        <include refid="selectInspectionItemTitleValueVo"/>
        <where>
            <if test="titleId != null  and titleId != ''"> and title_id = #{titleId}</if>
            <if test="itemValue != null  and itemValue != ''"> and item_value = #{itemValue}</if>
            <if test="regionId != null  and regionId != ''"> and region_id = #{regionId}</if>
            <if test="seq != null "> and seq = #{seq}</if>
            <if test="statusCd != null  and statusCd != ''"> and status_cd = #{statusCd}</if>
            <if test="userId != null  and userId != ''">
                AND inspection_item_title_value.region_id IN (
                SELECT region_id FROM sys_user_region WHERE user_id = #{userId}
                )
            </if>
        </where>
    </select>

    <select id="selectInspectionItemTitleValueByValueId" parameterType="String" resultMap="InspectionItemTitleValueResult">
        <include refid="selectInspectionItemTitleValueVo"/>
        where value_id = #{valueId}
    </select>

    <insert id="insertInspectionItemTitleValue" parameterType="InspectionItemTitleValue">
        insert into inspection_item_title_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="valueId != null">value_id,</if>
            <if test="titleId != null and titleId != ''">title_id,</if>
            <if test="itemValue != null and itemValue != ''">item_value,</if>
            <if test="regionId != null and regionId != ''">region_id,</if>
            <if test="seq != null">seq,</if>
            <if test="createTime != null">create_time,</if>
            <if test="statusCd != null and statusCd != ''">status_cd,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="valueId != null">#{valueId},</if>
            <if test="titleId != null and titleId != ''">#{titleId},</if>
            <if test="itemValue != null and itemValue != ''">#{itemValue},</if>
            <if test="regionId != null and regionId != ''">#{regionId},</if>
            <if test="seq != null">#{seq},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="statusCd != null and statusCd != ''">#{statusCd},</if>
        </trim>
    </insert>

    <update id="updateInspectionItemTitleValue" parameterType="InspectionItemTitleValue">
        update inspection_item_title_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="titleId != null and titleId != ''">title_id = #{titleId},</if>
            <if test="itemValue != null and itemValue != ''">item_value = #{itemValue},</if>
            <if test="regionId != null and regionId != ''">region_id = #{regionId},</if>
            <if test="seq != null">seq = #{seq},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="statusCd != null and statusCd != ''">status_cd = #{statusCd},</if>
        </trim>
        where value_id = #{valueId}
    </update>

    <delete id="deleteInspectionItemTitleValueByValueId" parameterType="String">
        delete from inspection_item_title_value where value_id = #{valueId}
    </delete>

    <delete id="deleteInspectionItemTitleValueByTitleId" parameterType="String">
        delete
        from inspection_item_title_value
        where title_id = #{TitleId};
    </delete>

    <delete id="deleteInspectionItemTitleValueByValueIds" parameterType="String">
        delete from inspection_item_title_value where value_id in
        <foreach item="valueId" collection="array" open="(" separator="," close=")">
            #{valueId}
        </foreach>
    </delete>

    <insert id="batchInspectionItemTitleValue">
        insert into inspection_item_title_value(title_id, value_id,item_value,region_id,seq,create_time,status_cd)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.titleId},#{item.valueId},#{item.itemValue},#{item.regionId},#{item.seq},#{item.createTime},#{item.statusCd})
        </foreach>
    </insert>
</mapper>
