<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NewRepairRepairFromMapper">

    <resultMap type="NewRepairRepairFrom" id="NewRepairRepairFromResult">
        <result property="newRepairId"    column="new_repair_id"    />
        <result property="newRepairFromId"    column="new_repair_from_id"    />
    </resultMap>

    <sql id="selectNewRepairRepairFromVo">
        select new_repair_id, new_repair_from_id from new_repair_repair_from
    </sql>

    <select id="selectNewRepairRepairFromList" parameterType="NewRepairRepairFrom" resultMap="NewRepairRepairFromResult">
        <include refid="selectNewRepairRepairFromVo"/>
        <where>
        </where>
    </select>

    <select id="selectNewRepairRepairFromByNewRepairId" parameterType="Long" resultMap="NewRepairRepairFromResult">
        <include refid="selectNewRepairRepairFromVo"/>
        where new_repair_id = #{newRepairId}
    </select>

    <insert id="insertNewRepairRepairFrom" parameterType="NewRepairRepairFrom">
        insert into new_repair_repair_from
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newRepairId != null">new_repair_id,</if>
            <if test="newRepairFromId != null">new_repair_from_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newRepairId != null">#{newRepairId},</if>
            <if test="newRepairFromId != null">#{newRepairFromId},</if>
        </trim>
    </insert>

    <update id="updateNewRepairRepairFrom" parameterType="NewRepairRepairFrom">
        update new_repair_repair_from
        <trim prefix="SET" suffixOverrides=",">
            <if test="newRepairFromId != null">new_repair_from_id = #{newRepairFromId},</if>
        </trim>
        where new_repair_id = #{newRepairId}
    </update>

    <delete id="deleteNewRepairRepairFromByNewRepairId" parameterType="Long">
        delete from new_repair_repair_from where new_repair_id = #{newRepairId}
    </delete>

    <delete id="deleteNewRepairRepairFromByNewRepairIds" parameterType="String">
        delete from new_repair_repair_from where new_repair_id in
        <foreach item="newRepairId" collection="array" open="(" separator="," close=")">
            #{newRepairId}
        </foreach>
    </delete>
</mapper>
