<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPatrolMapper">

    <resultMap type="SysPatrol" id="SysPatrolResult">
        <result property="patrolId" column="patrol_id"/>
        <result property="patrolName" column="patrol_name"/>
        <result property="patrolDescribe" column="patrol_describe"/>
        <result property="patrolPrincipal" column="patrol_principal"/>
        <result property="patrolPhone" column="patrol_phone"/>
        <result property="patrolStatus" column="patrol_status"/>
        <result property="patrolStartTime" column="patrol_start_time"/>
        <result property="patrolEndTime" column="patrol_end_time"/>
        <result property="patrolCreateTime" column="patrol_create_time"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="regionId" column="region_id"/>
        <result property="patrolActualStartTime" column="patrol_actual_start_time"/>
        <result property="patrolActualEndTime" column="patrol_actual_end_time"/>
        <result property="type" column="type"/>
        <result property="inspectionRouteId" column="inspection_route_id"/>
        <collection property="PatrolPoints" javaType="java.util.List" resultMap="SysPatrolPointResult"/>
    </resultMap>

    <resultMap type="SysPatrolPoint" id="SysPatrolPointResult">
        <result property="patrolPointId" column="patrol_point_id"/>
        <result property="patrolPointName" column="patrol_point_name"/>
        <result property="patrolPointLongitude" column="patrol_point_longitude"/>
        <result property="patrolPointLatitude" column="patrol_point_latitude"/>
    </resultMap>

    <resultMap id="PersonnelWithQuantityResult" type="PersonnelWithQuantity">
        <result property="name" column="personnel_name"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <sql id="selectSysPatrolVo">
        SELECT sys_patrol.patrol_id,
               sys_patrol_personnel.personnel_id,
               sys_patrol.patrol_name,
               sys_patrol.patrol_describe,
               sys_patrol.patrol_principal,
               sys_patrol.patrol_phone,
               sys_patrol.patrol_status,
               sys_patrol.patrol_start_time,
               sys_patrol.patrol_end_time,
               sys_patrol.patrol_create_time,
               sys_patrol.remark,
               sys_patrol.create_by,
               sys_patrol.create_time,
               sys_patrol.type,
               sys_patrol.region_id,
               sys_personnel.personnel_name,
               sys_personnel.personnel_phone,
               sys_patrol_point.patrol_point_name,
               sys_patrol_point.patrol_point_longitude,
               sys_patrol_point.patrol_point_latitude,
               sys_patrol.patrol_actual_start_time,
               sys_patrol.patrol_actual_end_time,
               sys_patrol.inspection_route_id
        FROM sys_patrol
                 LEFT JOIN
             sys_patrol_personnel
             ON
                 sys_patrol.patrol_id = sys_patrol_personnel.patrol_id
                 LEFT JOIN
             sys_personnel
             ON
                 sys_patrol_personnel.personnel_id = sys_personnel.personnel_id
                 LEFT JOIN
             sys_patrol_patrol_point
             ON
                 sys_patrol.patrol_id = sys_patrol_patrol_point.patrol_id
                 LEFT JOIN
             sys_patrol_point
             ON
                     sys_patrol_patrol_point.patrol_point_id = sys_patrol_point.patrol_point_id
    </sql>

    <select id="selectSysPatrolList" parameterType="SysPatrol" resultMap="SysPatrolResult">
        <include refid="selectSysPatrolVo"/>
        <where>
            <if test="personnelId != null "> and sys_patrol_personnel.personnel_id = #{personnelId}</if>
            <if test="patrolName != null  and patrolName != ''">and sys_patrol.patrol_name like concat('%',
                #{patrolName}, '%')
            </if>
            <if test="patrolDescribe != null  and patrolDescribe != ''">and sys_patrol.patrol_describe =
                #{patrolDescribe}
            </if>
            <if test="patrolPrincipal != null  and patrolPrincipal != ''">and sys_patrol.patrol_principal =
                #{patrolPrincipal}
            </if>
            <if test="regionId != null "> and sys_patrol.region_id = #{regionId}</if>
            <if test="patrolPhone != null  and patrolPhone != ''">and psys_patrol.atrol_phone = #{patrolPhone}</if>
            <if test="patrolStatus != null  and patrolStatus != ''">and sys_patrol.patrol_status = #{patrolStatus}</if>
            <if test="patrolStartTime != null ">and sys_patrol.patrol_start_time = #{patrolStartTime}</if>
            <if test="patrolEndTime != null ">and sys_patrol.patrol_end_time = #{patrolEndTime}</if>
            <if test="patrolCreateTime != null ">and sys_patrol.patrol_create_time = #{patrolCreateTime}</if>
            <if test="patrolActualStartTime != null ">and sys_patrol.patrol_actual_start_time = #{patrolActualStartTime}</if>
            <if test="patrolActualEndTime != null ">and sys_patrol.patrol_actual_end_time = #{patrolActualEndTime}</if>
            and sys_patrol.type = 0
        </where>
    </select>

    <select id="selectSysPatrolList4vue" parameterType="SysPatrol" resultMap="SysPatrolResult">
        SELECT sys_patrol.patrol_id,
        sys_patrol.patrol_name,
        sys_patrol.patrol_describe,
        sys_patrol.patrol_principal,
        sys_patrol.patrol_phone,
        sys_patrol.patrol_status,
        sys_patrol.patrol_start_time,
        sys_patrol.patrol_end_time,
        sys_patrol.patrol_create_time,
        sys_patrol.remark,
        sys_patrol.create_by,
        sys_patrol.create_time,
        sys_patrol.type,
        sys_patrol.region_id,
        sys_patrol.patrol_actual_start_time,
        sys_patrol.patrol_actual_end_time
        FROM sys_patrol
        LEFT JOIN
        sys_patrol_personnel
        ON
        sys_patrol.patrol_id = sys_patrol_personnel.patrol_id
        LEFT JOIN
        sys_personnel
        ON
        sys_patrol_personnel.personnel_id = sys_personnel.personnel_id
        <where>
            <if test="personnelId != null ">and sys_patrol_personnel.personnel_id = #{personnelId}</if>
            <if test="patrolName != null  and patrolName != ''">and sys_patrol.patrol_name like concat('%',
                #{patrolName}, '%')
            </if>
            <if test="patrolDescribe != null  and patrolDescribe != ''">and sys_patrol.patrol_describe =
                #{patrolDescribe}
            </if>
            <if test="patrolPrincipal != null  and patrolPrincipal != ''">and sys_patrol.patrol_principal =
                #{patrolPrincipal}
            </if>
            <if test="patrolPhone != null  and patrolPhone != ''">and sys_patrol.patrol_phone = #{patrolPhone}</if>
            <if test="patrolStatus != null  and patrolStatus != ''">and sys_patrol.patrol_status = #{patrolStatus}</if>
            <if test="patrolStartTime != null ">and sys_patrol.create_time <![CDATA[>=]]> #{patrolStartTime}</if>
            <if test="patrolEndTime != null ">and sys_patrol.create_time <![CDATA[<=]]> #{patrolEndTime}</if>
            <if test="patrolCreateTime != null ">and sys_patrol.patrol_create_time = #{patrolCreateTime}</if>
            <if test="updateTime != null">and date_format(sys_patrol.update_time, '%y%m%d') = date_format(#{updateTime}, '%y%m%d')</if>
            <if test="regionId != null "> and sys_patrol.region_id = #{regionId}</if>
            <if test="userId != null  and userId != ''">
                AND sys_patrol.region_id IN (
                SELECT region_id FROM sys_user_region WHERE user_id = #{userId}
                )
            </if>
            and sys_patrol.type = 0
        </where>
    </select>

    <select id="selectSysPatrolByPatrolId" parameterType="Long" resultMap="SysPatrolResult">
        <include refid="selectSysPatrolVo"/>
        where sys_patrol.patrol_id = #{patrolId}
        and sys_patrol.type = 0;
    </select>

    <select id="selectSysPatrolTemplateByPatrolId" parameterType="Long" resultMap="SysPatrolResult">
        <include refid="selectSysPatrolVo"/>
        where sys_patrol.patrol_id = #{patrolId}
    </select>

    <insert id="insertSysPatrol" parameterType="SysPatrol" useGeneratedKeys="true" keyProperty="patrolId">
        insert into sys_patrol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patrolName != null and patrolName != ''">patrol_name,</if>
            <if test="patrolDescribe != null and patrolDescribe != ''" >patrol_describe,</if>
            <if test="patrolPrincipal != null and patrolPrincipal != ''">patrol_principal,</if>
            <if test="patrolPhone != null and patrolPhone != ''">patrol_phone,</if>
            <if test="patrolStatus != null and patrolStatus != ''">patrol_status,</if>
            <if test="patrolStartTime != null">patrol_start_time,</if>
            <if test="patrolEndTime != null">patrol_end_time,</if>
            <if test="patrolCreateTime != null">patrol_create_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>

            <if test="patrolActualStartTime != null">patrol_actual_start_time,</if>
            <if test="patrolActualEndTime != null">patrol_actual_end_time,</if>

            <if test="type != null">type,</if>

            <if test="regionId != null">region_id,</if>

            <if test="inspectionRouteId != null">inspection_route_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patrolName != null and patrolName != ''">#{patrolName},</if>
            <if test="patrolDescribe != null and patrolDescribe != ''">#{patrolDescribe},</if>
            <if test="patrolPrincipal != null and patrolPrincipal != ''">#{patrolPrincipal},</if>
            <if test="patrolPhone != null and patrolPhone !=''">#{patrolPhone},</if>
            <if test="patrolStatus != null and patrolStatus != ''">#{patrolStatus},</if>
            <if test="patrolStartTime != null">#{patrolStartTime},</if>
            <if test="patrolEndTime != null">#{patrolEndTime},</if>
            <if test="patrolCreateTime != null">#{patrolCreateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>

            <if test="patrolActualStartTime != null">#{patrolActualStartTime},</if>
            <if test="patrolActualEndTime != null">#{patrolActualEndTime},</if>

            <if test="type != null">#{type},</if>

            <if test="regionId != null">#{regionId},</if>

            <if test="inspectionRouteId != null">#{inspectionRouteId}</if>
        </trim>
    </insert>

    <update id="updateSysPatrol" parameterType="SysPatrol">
        update sys_patrol
        <trim prefix="SET" suffixOverrides=",">
            <if test="patrolName != null and patrolName != ''">patrol_name = #{patrolName},</if>
            <if test="patrolDescribe != null and patrolDescribe != ''">patrol_describe = #{patrolDescribe},</if>
            <if test="patrolPrincipal != null and patrolPrincipal != ''">patrol_principal = #{patrolPrincipal},</if>
            <if test="patrolPhone != null and patrolPhone != ''">patrol_phone = #{patrolPhone},</if>
            <if test="patrolStatus != null and patrolStatus != ''">patrol_status = #{patrolStatus},</if>
            <if test="patrolStartTime != null">patrol_start_time = #{patrolStartTime},</if>
            <if test="patrolEndTime != null">patrol_end_time = #{patrolEndTime},</if>
            <if test="patrolCreateTime != null">patrol_create_time = #{patrolCreateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>

            <if test="patrolActualStartTime != null">patrol_actual_start_time = #{patrolActualStartTime},</if>
            <if test="patrolActualEndTime != null">patrol_actual_end_time = #{patrolActualEndTime},</if>

            <if test="inspectionRouteId != null">inspection_route_id = #{inspectionRouteId},</if>
        </trim>
        where patrol_id = #{patrolId}
    </update>

    <delete id="deleteSysPatrolByPatrolId" parameterType="Long">
        delete
        from sys_patrol
        where patrol_id = #{patrolId}
    </delete>

    <delete id="deleteSysPatrolByPatrolIds" parameterType="String">
        delete from sys_patrol where patrol_id in
        <foreach item="patrolId" collection="array" open="(" separator="," close=")">
            #{patrolId}
        </foreach>
    </delete>

    <select id="getPersonnelWithQuantity" resultMap="PersonnelWithQuantityResult">
        SELECT
            sys_personnel.personnel_name,
            COUNT(*) AS quantity
        FROM
            sys_patrol
                INNER JOIN
            sys_patrol_personnel
            ON
                sys_patrol.patrol_id = sys_patrol_personnel.patrol_id
                INNER JOIN
            sys_personnel
            ON
                sys_patrol_personnel.personnel_id = sys_personnel.personnel_id
        WHERE
            patrol_status = 2
        GROUP BY
            sys_personnel.personnel_name
        ORDER BY
            quantity DESC
        LIMIT 10;
    </select>
</mapper>
