<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPatrolPointMapper">

    <resultMap type="SysPatrolPoint" id="SysPatrolPointResult">
        <result property="patrolPointId" column="patrol_point_id"/>
        <result property="patrolPointName" column="patrol_point_name"/>
        <result property="patrolPointDescribe" column="patrol_point_describe"/>
        <result property="patrolPointUrl" column="patrol_point_url"/>
        <result property="patrolPointLatitude" column="patrol_point_latitude"/>
        <result property="patrolPointLongitude" column="patrol_point_longitude"/>
        <result property="patrolPointAltitude" column="patrol_point_altitude"/>
        <result property="patrolPointStatus" column="patrol_point_status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysPatrolPointVo">
        select patrol_point_id,
               patrol_point_name,
               patrol_point_describe,
               patrol_point_url,
               patrol_point_latitude,
               patrol_point_longitude,
               patrol_point_altitude,
               patrol_point_status,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from sys_patrol_point
    </sql>

    <select id="selectSysPatrolPointList" parameterType="SysPatrolPoint" resultMap="SysPatrolPointResult">
        <include refid="selectSysPatrolPointVo"/>
        <where>
            <if test="patrolPointName != null  and patrolPointName != ''">and patrol_point_name like concat('%',
                #{patrolPointName}, '%')
            </if>
            <if test="patrolPointDescribe != null  and patrolPointDescribe != ''">and patrol_point_describe =
                #{patrolPointDescribe}
            </if>
            <if test="patrolPointUrl != null  and patrolPointUrl != ''">and patrol_point_url = #{patrolPointUrl}</if>
            <if test="patrolPointLatitude != null ">and patrol_point_latitude = #{patrolPointLatitude}</if>
            <if test="patrolPointLongitude != null ">and patrol_point_longitude = #{patrolPointLongitude}</if>
            <if test="patrolPointAltitude != null ">and patrol_point_altitude = #{patrolPointAltitude}</if>
            <if test="patrolPointStatus != null  and patrolPointStatus != ''">and patrol_point_status =
                #{patrolPointStatus}
            </if>
        </where>
    </select>

    <select id="selectSysPatrolPointByPatrolPointId" parameterType="Long" resultMap="SysPatrolPointResult">
        <include refid="selectSysPatrolPointVo"/>
        where patrol_point_id = #{patrolPointId}
    </select>

    <insert id="insertSysPatrolPoint" parameterType="SysPatrolPoint" useGeneratedKeys="true"
            keyProperty="patrolPointId">
        insert into sys_patrol_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patrolPointName != null">patrol_point_name,</if>
            <if test="patrolPointDescribe != null">patrol_point_describe,</if>
            <if test="patrolPointUrl != null">patrol_point_url,</if>
            <if test="patrolPointLatitude != null">patrol_point_latitude,</if>
            <if test="patrolPointLongitude != null">patrol_point_longitude,</if>
            <if test="patrolPointAltitude != null">patrol_point_altitude,</if>
            <if test="patrolPointStatus != null">patrol_point_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patrolPointName != null">#{patrolPointName},</if>
            <if test="patrolPointDescribe != null">#{patrolPointDescribe},</if>
            <if test="patrolPointUrl != null">#{patrolPointUrl},</if>
            <if test="patrolPointLatitude != null">#{patrolPointLatitude},</if>
            <if test="patrolPointLongitude != null">#{patrolPointLongitude},</if>
            <if test="patrolPointAltitude != null">#{patrolPointAltitude},</if>
            <if test="patrolPointStatus != null">#{patrolPointStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysPatrolPoint" parameterType="SysPatrolPoint">
        update sys_patrol_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="patrolPointName != null">patrol_point_name = #{patrolPointName},</if>
            <if test="patrolPointDescribe != null">patrol_point_describe = #{patrolPointDescribe},</if>
            <if test="patrolPointUrl != null">patrol_point_url = #{patrolPointUrl},</if>
            <if test="patrolPointLatitude != null">patrol_point_latitude = #{patrolPointLatitude},</if>
            <if test="patrolPointLongitude != null">patrol_point_longitude = #{patrolPointLongitude},</if>
            <if test="patrolPointAltitude != null">patrol_point_altitude = #{patrolPointAltitude},</if>
            <if test="patrolPointStatus != null">patrol_point_status = #{patrolPointStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where patrol_point_id = #{patrolPointId}
    </update>

    <delete id="deleteSysPatrolPointByPatrolPointId" parameterType="Long">
        delete
        from sys_patrol_point
        where patrol_point_id = #{patrolPointId}
    </delete>

    <delete id="deleteSysPatrolPointByPatrolPointIds" parameterType="String">
        delete from sys_patrol_point where patrol_point_id in
        <foreach item="patrolPointId" collection="array" open="(" separator="," close=")">
            #{patrolPointId}
        </foreach>
    </delete>

    <select id="selectPatrolPointAll" resultMap="SysPatrolPointResult">
        <include refid="selectSysPatrolPointVo"/>
    </select>

    <select id="selectPatrolPointListByPatrolId" parameterType="Long" resultType="Long">
        select pp.patrol_point_id
        from sys_patrol_point pp
                 left join sys_patrol_patrol_point ppp on ppp.patrol_point_id = pp.patrol_point_id
                 left join sys_patrol p on p.patrol_id = ppp.patrol_id
        where p.patrol_id = #{patrolId}
    </select>

    <select id="selectPatrolPointListByRepairId" parameterType="Long" resultType="Long">
        select pp.patrol_point_id
        from sys_patrol_point pp
                 left join sys_repair_patrol_point rpp on rpp.patrol_point_id = pp.patrol_point_id
                 left join sys_repair re on re.repair_id = rpp.repair_id
        where re.repair_id = #{repairId}
    </select>

    <select id="selectPatrolPointListByPatrolIdAndPersonnelId" parameterType="SysPatrolPersonnel" resultMap="SysPatrolPointResult">
        select pp.patrol_point_id
        from sys_patrol_point pp
                 left join sys_patrol_patrol_point ppp on ppp.patrol_point_id = pp.patrol_point_id
                 left join sys_patrol p on p.patrol_id = ppp.patrol_id
        where p.patrol_id = #{patrolId}
    </select>

    <select id="selectPatrolPointListByRepairIdAndPersonnelId" parameterType="SysRepairPersonnel" resultMap="SysPatrolPointResult">
        select pp.patrol_point_id
        from sys_patrol_point pp
                 left join sys_repair_patrol_point rpp on rpp.patrol_point_id = pp.patrol_point_id
                 left join sys_repair re on re.repair_id = rpp.repair_id
        where re.repair_id = #{repairId}
    </select>
</mapper>
