<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPersonnelMapper">

    <resultMap type="SysPersonnel" id="SysPersonnelResult">
        <result property="personnelId" column="personnel_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="postId" column="post_id"/>
        <result property="personnelLoginName" column="personnel_login_name"/>
        <result property="personnelPassword" column="personnel_password"/>
        <result property="personnelName" column="personnel_name"/>
        <result property="personnelPhone" column="personnel_phone"/>
        <result property="personnelSex" column="personnel_sex"/>
        <result property="personnelStatus" column="personnel_status"/>
        <result property="personnelEntryTime" column="personnel_entry_time"/>
        <result property="personnelResignationTime" column="personnel_resignation_time"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="avatar" column="avatar"/>
        <result property="openId" column="open_id"/>

        <result property="regionId" column="region_id"/>
        <association property="dept" column="dept_id" javaType="SysDept" resultMap="deptResult"/>
        <collection property="posts" javaType="java.util.List" resultMap="PostResult"/>
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="ancestors" column="ancestors"/>
        <result property="orderNum" column="order_num"/>
        <result property="leader" column="leader"/>
        <result property="status" column="dept_status"/>
    </resultMap>

    <resultMap type="SysPost" id="PostResult">
        <id property="postId" column="post_id"/>
        <result property="postCode" column="post_code"/>
        <result property="postName" column="post_name"/>
        <result property="postSort" column="post_sort"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="selectSysPersonnelVo">
        SELECT s.personnel_id,
               s.dept_id,
               s.post_id,
               s.open_id,
               s.personnel_login_name,
               s.personnel_password,
               s.personnel_name,
               s.personnel_phone,
               s.personnel_sex,
               s.personnel_status,
               s.personnel_entry_time,
               s.personnel_resignation_time,
               s.remark,
               s.create_by,
               s.create_time,
               s.update_by,
               s.update_time,
               s.region_id,
               p.post_id,
               p.post_code,
               p.post_name,
               p.post_sort,
               p.status AS post_status,
               d.dept_id,
               d.parent_id,
               d.ancestors,
               d.dept_name,
               d.order_num,
               d.leader,
               d.phone,
               s.avatar,
               d.status AS dept_status
        FROM sys_personnel AS s
                 LEFT JOIN sys_dept AS d ON s.dept_id = d.dept_id
                 LEFT JOIN sys_personnel_post AS pp ON s.personnel_id = pp.personnel_id
                 LEFT JOIN sys_post AS p ON p.post_id = pp.post_id
    </sql>

    <select id="selectSysPersonnelList" parameterType="SysPersonnel" resultMap="SysPersonnelResult">
        <include refid="selectSysPersonnelVo"/>
        <where>
            <if test="deptId != null ">and s.dept_id = #{deptId}</if>
            <if test="postId != null ">and p.post_id = #{postId}</if>
            <if test="personnelLoginName != null  and personnelLoginName != ''">and s.personnel_login_name like
                concat('%', #{personnelLoginName}, '%')
            </if>
            <if test="personnelPassword != null  and personnelPassword != ''">and s.personnel_password =
                #{personnelPassword}
            </if>
            <if test="personnelName != null  and personnelName != ''">and s.personnel_name like concat('%',
                #{personnelName}, '%')
            </if>
            <if test="personnelPhone != null  and personnelPhone != ''">and s.personnel_phone = #{personnelPhone}</if>
            <if test="personnelSex != null  and personnelSex != ''">and s.personnel_sex = #{personnelSex}</if>
            <if test="personnelStatus != null  and personnelStatus != ''">and s.personnel_status = #{personnelStatus}
            </if>
            <if test="personnelEntryTime != null ">and s.personnel_entry_time = #{personnelEntryTime}</if>
            <if test="personnelResignationTime != null ">and s.personnel_resignation_time =
                #{personnelResignationTime}
            </if>
            <if test="regionId != null ">and p.post_id = #{regionId}</if>
            and s.post_id != 1
        </where>
    </select>


    <select id="selectSysPersonnelByPersonnelId" parameterType="Long" resultMap="SysPersonnelResult">
        <include refid="selectSysPersonnelVo"/>
        where s.personnel_id = #{personnelId}
    </select>

    <select id="selectSysRepairPersonnelByPersonnelId" parameterType="Long" resultMap="SysPersonnelResult">
        <include refid="selectSysPersonnelVo"/>
        where s.personnel_id = #{personnelId} and d.dept_name like
        concat('%', '维修', '%')
    </select>

    <select id="selectAllSysRepairPersonnelOpenId" parameterType="Long" resultMap="SysPersonnelResult">
        <include refid="selectSysPersonnelVo"/>
        where d.dept_name like
        concat('%', '维修', '%')
    </select>

    <select id="selectSysPersonnelByPersonnelLoginName" parameterType="String" resultMap="SysPersonnelResult">
        <include refid="selectSysPersonnelVo"/>
        where s.personnel_login_name = #{personnelLoginName}
    </select>

    <insert id="insertSysPersonnel" parameterType="SysPersonnel" useGeneratedKeys="true" keyProperty="personnelId">
        insert into sys_personnel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="postId != null">post_id,</if>
            <if test="openId != null">open_id,</if>

            <if test="regionId != null">region_id,</if>
            <if test="personnelLoginName != null and personnelLoginName != ''">personnel_login_name,</if>
            <if test="personnelPassword != null and personnelPassword != ''">personnel_password,</if>
            <if test="personnelName != null and personnelName != ''">personnel_name,</if>
            <if test="personnelPhone != null and personnelPhone != ''">personnel_phone,</if>
            <if test="personnelSex != null and personnelSex != ''">personnel_sex,</if>
            <if test="personnelStatus != null and personnelStatus != ''">personnel_status,</if>
            <if test="personnelEntryTime != null">personnel_entry_time,</if>
            <if test="personnelResignationTime != null">personnel_resignation_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="avatar != null and avatar != ''">avatar,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="postId != null">#{postId},</if>
            <if test="openId != null">#{openId}</if>

            <if test="regionId != null">#{regionId}</if>
            <if test="personnelLoginName != null and personnelLoginName != ''">#{personnelLoginName},</if>
            <if test="personnelPassword != null and personnelPassword != ''">#{personnelPassword},</if>
            <if test="personnelName != null and personnelName != ''">#{personnelName},</if>
            <if test="personnelPhone != null and personnelPhone != ''">#{personnelPhone},</if>
            <if test="personnelSex != null and personnelSex != ''">#{personnelSex},</if>
            <if test="personnelStatus != null and personnelStatus != ''">#{personnelStatus},</if>
            <if test="personnelEntryTime != null">#{personnelEntryTime},</if>
            <if test="personnelResignationTime != null">#{personnelResignationTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="avatar != null and avatar != ''">#{avatar},</if>
        </trim>
    </insert>

    <select id="checkPersonnelLoginNameUnique" parameterType="String" resultMap="SysPersonnelResult">
        select personnel_id, personnel_login_name
        from sys_personnel
        where personnel_login_name = #{personnelLoginName}
        limit 1
    </select>

    <update id="updateSysPersonnel" parameterType="SysPersonnel">
        update sys_personnel
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="postId != null">post_id = #{postId},</if>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="personnelLoginName != null and personnelLoginName != ''">personnel_login_name =
                #{personnelLoginName},
            </if>
            <if test="personnelPassword != null and personnelPassword != ''">personnel_password =
                #{personnelPassword},
            </if>
            <if test="personnelName != null and personnelName != ''">personnel_name = #{personnelName},</if>
            <if test="personnelPhone != null and personnelPhone != ''">personnel_phone = #{personnelPhone},</if>
            <if test="personnelSex != null and personnelSex != ''">personnel_sex = #{personnelSex},</if>
            <if test="personnelStatus != null and personnelStatus != ''">personnel_status = #{personnelStatus},</if>
            <if test="personnelEntryTime != null">personnel_entry_time = #{personnelEntryTime},</if>
            <if test="personnelResignationTime != null">personnel_resignation_time = #{personnelResignationTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
        </trim>
        where personnel_id = #{personnelId}
    </update>

    <delete id="deleteSysPersonnelByPersonnelId" parameterType="Long">
        delete
        from sys_personnel
        where personnel_id = #{personnelId}
    </delete>

    <delete id="deleteSysPersonnelByPersonnelIds" parameterType="String">
        delete from sys_personnel where personnel_id in
        <foreach item="personnelId" collection="array" open="(" separator="," close=")">
            #{personnelId}
        </foreach>
    </delete>

    <select id="selectPersonnelAll" resultMap="SysPersonnelResult">
        <include refid="selectSysPersonnelVo"/>
    </select>

    <select id="selectOwnerPersonnelAll" resultMap="SysPersonnelResult">
        <include refid="selectSysPersonnelVo"/>
        where s.post_id = 1
    </select>

    <select id="selectPersonnelListByPatrolId" parameterType="Long" resultType="Long">
        select p.personnel_id
        from sys_personnel p
                 left join sys_patrol_personnel pp on pp.personnel_id = p.personnel_id
                 left join sys_patrol pa on pa.patrol_id = pp.patrol_id
        where pa.patrol_id = #{patrolId}
    </select>

    <select id="selectPersonnelListByRepairId" parameterType="Long" resultType="Long">
        select p.personnel_id
        from sys_personnel p
                 left join sys_repair_personnel rp on rp.personnel_id = p.personnel_id
                 left join sys_repair re on re.repair_id = rp.repair_id
        where re.repair_id = #{repairId}
    </select>

    <update id="updateUserAvatar" parameterType="SysPersonnel">
        update sys_personnel
        set avatar = #{avatar}
        where personnel_id = #{personnelId}
    </update>
</mapper>
