<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRegionMapper">

    <resultMap type="SysRegion" id="SysRegionResult">
        <result property="regionId"    column="region_id"    />
        <result property="name"    column="name"    />

        <result property="regionLongitude" column="region_longitude"/>
        <result property="regionLatitude" column="region_latitude"/>

        <result property="description"    column="description"    />
        <result property="parentId"    column="parent_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysRegionVo">
        select region_id,
               name,
               region_longitude,
               region_latitude,
               description,
               parent_id,
               create_by,
               create_time,
               update_by,
               update_time
        from sys_region
    </sql>

    <select id="selectSysRegionList" parameterType="SysRegion" resultMap="SysRegionResult">
        <include refid="selectSysRegionVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        </where>
    </select>

    <select id="selectSysRegionByRegionId" parameterType="Long" resultMap="SysRegionResult">
        <include refid="selectSysRegionVo"/>
        where region_id = #{regionId}
    </select>

    <insert id="insertSysRegion" parameterType="SysRegion" useGeneratedKeys="true">
        insert into sys_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regionId != null">region_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="regionLongitude != null and regionLongitude != ''">region_longitude,</if>
            <if test="regionLatitude != null and regionLatitude != ''">region_latitude,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regionId != null">#{regionId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="regionLongitude != null and regionLongitude != ''">#{regionLongitude},</if>
            <if test="regionLatitude != null and regionLatitude != ''">#{regionLatitude},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysRegion" parameterType="SysRegion">
        update sys_region
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="regionLongitude != null and regionLongitude != ''">region_longitude = #{regionLongitude},</if>
            <if test="regionLatitude != null and regionLatitude != ''">region_latitude = #{regionLatitude},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where region_id = #{regionId}
    </update>

    <delete id="deleteSysRegionByRegionId" parameterType="Long">
        delete from sys_region where region_id = #{regionId}
    </delete>

    <delete id="deleteSysRegionByRegionIds" parameterType="String">
        delete from sys_region where region_id in
        <foreach item="regionId" collection="array" open="(" separator="," close=")">
            #{regionId}
        </foreach>
    </delete>
</mapper>
