<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRepairMapper">

    <resultMap type="SysRepair" id="SysRepairResult">
        <result property="repairId" column="repair_id"/>
        <result property="repairName" column="repair_name"/>
        <result property="repairDescribe" column="repair_describe"/>
        <result property="repairPrincipal" column="repair_principal"/>
        <result property="repairPhone" column="repair_phone"/>
        <result property="repairStatus" column="repair_status"/>
        <result property="repairStartTime" column="repair_start_time"/>
        <result property="repairActualStartTime" column="repair_actual_start_time"/>
        <result property="repairActualEndTime" column="repair_actual_end_time"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSysRepairVo">
        select sys_repair.repair_id,
               sys_repair.repair_name,
               sys_repair.repair_describe,
               sys_repair_personnel.personnel_id,
               sys_repair.repair_principal,
               sys_repair.repair_phone,
               sys_repair.repair_status,
               sys_repair.repair_start_time,
               sys_repair.repair_actual_start_time,
               sys_repair.repair_actual_end_time,
               sys_repair.remark,
               sys_repair.create_by,
               sys_repair.create_time,
               sys_repair.update_by,
               sys_repair.update_time
        FROM
            sys_repair_personnel
                LEFT JOIN
            sys_repair
            ON
                sys_repair_personnel.repair_id = sys_repair.repair_id
    </sql>

    <select id="selectSysRepairList" parameterType="SysRepair" resultMap="SysRepairResult">
        <include refid="selectSysRepairVo"/>
        <where>
            <if test="personnelId != null "> and sys_repair_personnel.personnel_id = #{personnelId}</if>
            <if test="repairName != null  and repairName != ''">and sys_repair.repair_name like concat('%', #{repairName}, '%')
            </if>
            <if test="repairDescribe != null  and repairDescribe != ''">and sys_repair.repair_describe = #{repairDescribe}</if>
            <if test="repairPrincipal != null  and repairPrincipal != ''">and sys_repair.repair_principal = #{repairPrincipal}</if>
            <if test="repairPhone != null  and repairPhone != ''">and sys_repair.repair_phone = #{repairPhone}</if>
            <if test="repairStatus != null  and repairStatus != ''">and sys_repair.repair_status = #{repairStatus}</if>
            <if test="repairStartTime != null ">and sys_repair.repair_start_time = #{repairStartTime}</if>
            <if test="repairActualStartTime != null ">and sys_repair.repair_actual_start_time = #{repairActualStartTime}</if>
            <if test="repairActualEndTime != null ">and sys_repair.repair_actual_end_time = #{repairActualEndTime}</if>
        </where>
    </select>

    <select id="selectSysRepairByRepairId" parameterType="Long" resultMap="SysRepairResult">
        <include refid="selectSysRepairVo"/>
        where repair_id = #{repairId}
    </select>

    <insert id="insertSysRepair" parameterType="SysRepair" useGeneratedKeys="true" keyProperty="repairId">
        insert into sys_repair
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="repairName != null  and repairName != ''">repair_name,</if>
            <if test="repairDescribe != null  and repairDescribe != ''">repair_describe,</if>
            <if test="repairPrincipal != null  and repairPrincipal != ''">repair_principal,</if>
            <if test="repairPhone != null  and repairPhone != ''">repair_phone,</if>
            <if test="repairStatus != null and repairStatus != ''">repair_status,</if>
            <if test="repairStartTime != null">repair_start_time,</if>
            <if test="repairActualStartTime != null">repair_actual_start_time,</if>
            <if test="repairActualEndTime != null">repair_actual_end_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="repairName != null  and repairName != ''">#{repairName},</if>
            <if test="repairDescribe != null  and repairDescribe != ''">#{repairDescribe},</if>
            <if test="repairPrincipal != null  and repairPrincipal != ''">#{repairPrincipal},</if>
            <if test="repairPhone != null  and repairPhone != ''">#{repairPhone},</if>
            <if test="repairStatus != null and repairStatus != ''">#{repairStatus},</if>
            <if test="repairStartTime != null">#{repairStartTime},</if>
            <if test="repairActualStartTime != null">#{repairActualStartTime},</if>
            <if test="repairActualEndTime != null">#{repairActualEndTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysRepair" parameterType="SysRepair">
        update sys_repair
        <trim prefix="SET" suffixOverrides=",">
            <if test="repairName != null  and repairName != ''">repair_name = #{repairName},</if>
            <if test="repairDescribe != null  and repairDescribe != ''">repair_describe = #{repairDescribe},</if>
            <if test="repairPrincipal != null  and repairPrincipal != ''">repair_principal = #{repairPrincipal},</if>
            <if test="repairPhone != null  and repairPhone != ''">repair_phone = #{repairPhone},</if>
            <if test="repairStatus != null and repairStatus != ''">repair_status = #{repairStatus},</if>
            <if test="repairStartTime != null">repair_start_time = #{repairStartTime},</if>
            <if test="repairActualStartTime != null">repair_actual_start_time = #{repairActualStartTime},</if>
            <if test="repairActualEndTime != null">repair_actual_end_time = #{repairActualEndTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where repair_id = #{repairId}
    </update>

    <delete id="deleteSysRepairByRepairId" parameterType="Long">
        delete
        from sys_repair
        where repair_id = #{repairId}
    </delete>

    <delete id="deleteSysRepairByRepairIds" parameterType="String">
        delete from sys_repair where repair_id in
        <foreach item="repairId" collection="array" open="(" separator="," close=")">
            #{repairId}
        </foreach>
    </delete>
</mapper>
